:host {
  main {
    padding: 1em;

    @media (max-width: 600px) {
      i {
        font-size: 0.8em;
        color: #be8f44;
        white-space: initial;
      }
    }

    mat-list-item {
      div {
        div {
          display: flex;
          align-items: center;
        }
      }
    }

    mat-list-item:nth-child(odd) {
      background-color: #00000045;
    }

    mat-list-item:nth-child(even) {
      background-color: #00000030;
    }

    mat-slide-toggle {
      position: relative;
      transition: all 0.15s ease-in-out;
    }

    mat-form-field {
      margin-top: 1.4em;
      margin-left: 1em;
    }

    mat-slider {
      margin-left: 1em;
    }
  }
}
