<main>
  <mat-toolbar>
    <h2><i>Butane</i>: Explosive Vault</h2>
    <span class="spacer"></span>
    <a color="primary" mat-stroked-button routerLink="/auth">
      <mat-icon>open_in_new</mat-icon>
      Start Using</a
    >
  </mat-toolbar>
  <span class="br"></span>
  <div>
    <section>
      <h2>Introducing Butane:</h2>
      <p>
        Because who needs extra security when it comes to your passwords? It's not
        like they're the keys to your entire online existence or anything.
        Remembering passwords is overrated. Let Butane do the job while you focus
        on more important things, like trying to find your misplaced socks.
      </p>
    </section>
    <span class="br"></span>
    <section>
      <h2>How it works:</h2>
      <p>
        Butane encrypts your passwords on your device using a master password that
        you provide. This means that your passwords are never sent to the server,
        and are only decrypted on your device (thus enabling cross-device
        support). This also means that if you forget your master password,
        you're out of luck ¯\_(ツ)_/¯
      </p>
    </section>
    <span class="br"></span>
    <section>
      <h2>How Butane came to be:</h2>
      <ol>
        <li>
          I lost my passwords once and it was a pain to reset them all.
        </li>
        <li>
          Check this out 👉 <a target="_blank" href="https://rokusbox.com/projekts/butane">rokusbox.com/projekts/butane</a>
        </li>
      </ol>
    </section>
  </div>
</main>
<footer>
  <div>
    <a class="footer-link" routerLink="/pp" target="_blank" rel="noopener">
      Privacy Policy
    </a>
    <span class="vr"></span>
    <a class="footer-link" routerLink="/tos" target="_blank" rel="noopener">
      Terms of Service
    </a>
  </div>
  <div>
    Source code: <a class="footer-link" target="_blank" rel="noopener" href="https://github.com/rokus-box/">GitHub</a>
  </div>
</footer>
<app-flame></app-flame>
