<main>
  <h2><i>Butane</i>: Explosive Vault</h2>
  <mat-card>
    <ng-container *ngIf="totpObj != null; else first; then: second" />
    <mat-card-footer>
      <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
    </mat-card-footer>
  </mat-card>
  <br />
  <div>
    <a class="footer-link" routerLink="/pp" target="_blank" rel="noopener">
      Privacy Policy
    </a>
    <span class="vr"></span>
    <a class="footer-link" routerLink="/tos" target="_blank" rel="noopener">
      Terms of Service
    </a>
  </div>
</main>

<ng-template #first>
  <mat-card-header>
    <mat-card-title>Start using Butane</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <button
      [disabled]="loading"
      class="oauth-btn"
      (click)="popGoogle(googleUrl)"
      mat-stroked-button
    >
      <mat-icon svgIcon="google" />
      Continue with Google
    </button>
    <button
      (click)="popDiscord(discordUrl)"
      [disabled]="loading"
      class="oauth-btn"
      mat-stroked-button
    >
      <mat-icon svgIcon="discord" />
      Continue with Discord
    </button>
  </mat-card-content>
</ng-template>

<ng-template #second>
  <mat-card-header>
    <mat-card-subtitle *ngIf="registering">{{
      registering.checked
        ? "Please scan the QR code with your authenticator app."
        : "Enter the code from your authenticator app."
    }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-slide-toggle
      #registering
      (change)="onRegisteringChanged(registering.checked)"
      labelPosition="before"
      [checked]="isRegistering"
    >
      I'm registering
    </mat-slide-toggle>
    <qrcode
      *ngIf="registering.checked"
      [qrdata]="totpObj!.url"
      errorCorrectionLevel="H"
    />
    <mat-form-field *ngIf="registering.checked" appearance="outline">
      <mat-label>Secret Key</mat-label>
      <input
        matInput
        disabled
        [value]="totpObj!.secret.slice(0, 6) + '•'.repeat(10)"
      />
      <button
        mat-icon-button
        matIconSuffix
        (click)="snack.open('Copied to clipboard', '', { duration: 2000 })"
        [cdkCopyToClipboard]="totpObj!.secret"
      >
        <mat-icon>content_copy</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <input
        [showMaskTyped]="true"
        mask="000-000"
        [(ngModel)]="otpCode"
        matInput
      />
      <mat-icon svgIcon="twofa" matSuffix />
    </mat-form-field>
    <form [formGroup]="authFormGroup">
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input #pass type="password" formControlName="password" matInput />
        <button
          matSuffix
          (click)="pass.type = pass.type === 'text' ? 'password' : 'text'"
          mat-icon-button
        >
          <mat-icon>{{
            pass.type === "text" ? "visibility" : "visibility_off"
          }}</mat-icon>
        </button>
        <mat-error>{{
          getFirstError(authFormGroup.controls["password"])
        }}</mat-error>
      </mat-form-field>
    </form>
    <button
      [disabled]="loading || authFormGroup.invalid || otpCode.length != 6"
      (click)="authorize()"
      color="primary"
      mat-stroked-button
    >
      Let me in!
    </button>
  </mat-card-content>
</ng-template>
<app-flame></app-flame>
