:host {
  i {
    color: #ef6c00;
  }

  a {
    &:hover {
      color: rgb(255, 205, 164);
    }

    color: #ef6c00;
    text-decoration: none;
  }

  .vr {
    border-left: 1px solid #ef6c00;
    height: 2em;
    margin: 0 0.5em 0 0;
  }

  main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;

    mat-card-header {
      display: flex;
      justify-content: center;
    }

    mat-card-content {
      padding: 1em;
      display: flex;
      flex-direction: column;
      gap: 1em;

      .oauth-btn {
        border-radius: 50px;
        display: flex;
        padding: 1.5em;
        justify-content: flex-start;
        flex-shrink: 0;
      }
    }
  }

  form {
    mat-form-field {
      width: 100%;
    }
  }

  mat-progress-bar {
    z-index: 100000;
  }
}
