:host {
  form {
    padding: 1em;
    display: flex;
    gap: 1em;

    button {
      padding: 1.94em;
    }
  }

  main {
    padding: 1em;
    display: grid;
    gap: 1rem;

    @media (min-width: 600px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 900px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  i {
    font-size: 0.8em;
    background-color: rgba(182, 182, 182, 0.13);
    padding: 0 0.8em 0 0.8em;
    border-radius: 50px;
  }
}
