<mat-progress-bar *ngIf="loading" mode="indeterminate" />
<form>
  <button
    [disabled]="loading || vaults.length > 8"
    type="button"
    mat-stroked-button
    color="accent"
    (click)="createVault()"
  >
    Create Vault
    <mat-icon>add</mat-icon>
  </button>
</form>
<main>
  <i *ngIf="!loading && vaults.length === 0"
    >Looks like you don't have any Vaults yet. Create one to get started!</i
  >
  <mat-card *ngFor="let vault of vaults">
    <mat-card-header>
      <mat-card-title>{{ vault.display_name }}</mat-card-title>
    </mat-card-header>
    <mat-card-actions>
      <a [routerLink]="['/vaults', vault.id]" color="primary" mat-button>
        <mat-icon>open_in_new</mat-icon>
        Open
      </a>
      <span class="spacer"></span>
      <button
        (click)="editVault(vault)"
        matTooltip="Edit Vault"
        mat-icon-button
      >
        <mat-icon>edit</mat-icon>
      </button>
      <button
        [matTooltip]="'Delete &quot;' + vault.display_name + '&quot;'"
        color="warn"
        mat-icon-button
        (click)="deleteVault(vault)"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</main>
<i
  class="limit"
  matTooltip="You can create up to 9 Vaults and 180 Secrets total"
  style="margin-left: 1em"
  *ngIf="!loading"
  >{{ vaults.length }} / 9</i
>
