<mat-progress-bar *ngIf="loading" mode="indeterminate" />
<mat-card>
  <mat-card-header>
    <mat-card-title>Are you absolutely sure?</mat-card-title>
  </mat-card-header>
  <div>
    <mat-icon>warning</mat-icon>
    Unexpected bad things will happen if you don't read this!
  </div>
  <mat-card-content>
    This action <strong>CANNOT</strong> be undone. This will permanently delete
    the <strong>{{ data.secret.display_name }}</strong> Secret.
    <br />
    <br />
  </mat-card-content>
  <mat-card-actions>
    <button
      [disabled]="loading"
      mat-button
      color="warn"
      (click)="deleteSecret()"
    >
      <mat-icon>delete</mat-icon>
      Delete Secret
    </button>
    <span class="spacer"></span>
    <button [disabled]="loading" mat-stroked-button [mat-dialog-close]="false">
      <mat-icon>cancel</mat-icon>
      Cancel
    </button>
  </mat-card-actions>
</mat-card>
