<mat-progress-bar *ngIf="loading" mode="indeterminate" />
<mat-card>
  <mat-card-title>Create a new Vault</mat-card-title>
  <form [formGroup]="createVaultForm">
    <mat-form-field appearance="fill">
      <mat-label>Display Name</mat-label>
      <input formControlName="displayName" matInput required />
      <mat-error>{{
        getFirstError(createVaultForm.controls["displayName"])
      }}</mat-error>
    </mat-form-field>
  </form>
  <mat-card-actions>
    <button
      mat-button
      [disabled]="createVaultForm.invalid || loading"
      (click)="createVault()"
      color="accent"
    >
      <mat-icon>save</mat-icon>
      Create
    </button>
    <span class="spacer"></span>
    <button
      [disabled]="loading"
      [mat-dialog-close]="false"
      mat-stroked-button
      color="warn"
    >
      <mat-icon>cancel</mat-icon>
      Cancel
    </button>
  </mat-card-actions>
</mat-card>
