:host {
  mat-card {
    max-width: 50em;

    display: flex;
    padding: 1em;
    gap: 1em;

    mat-form-field {
      width: 100%;
    }

    form {
      i {
        color: #be8f44;
        font-size: 0.8em;
      }
    }

    mat-accordion {
      padding: 0.2em;
      border-radius: 5px;
      display: block;
      background-color: #00000020;

      .mat-expansion-panel-header-description {
        justify-content: space-between;
        align-items: center;
      }

      span {
        display: flex;

        mat-form-field:nth-child(2) {
          width: 15em;
          margin-left: 2px;
        }
      }
    }
  }
}
