<mat-progress-bar *ngIf="loading" mode="indeterminate" />
<mat-card>
  <mat-card-title>Edit {{ data.secret.display_name }}</mat-card-title>
  <form [formGroup]="createSecretForm">
    <mat-form-field>
      <mat-label>Display Name</mat-label>
      <input formControlName="display_name" matInput required />
      <button
        (click)="
          createSecretForm.controls.display_name.setValue(
            data.secret.display_name
          )
        "
        *ngIf="
          createSecretForm.controls.display_name.value !==
          data.secret.display_name
        "
        [disabled]="loading"
        mat-icon-button
        matSuffix
        matTooltip="Undo changes"
      >
        <mat-icon>undo</mat-icon>
      </button>
      <mat-error>{{
        getFirstError(createSecretForm.controls.display_name)
        }}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>URI</mat-label>
      <input formControlName="uri" matInput />
      <button
        (click)="createSecretForm.controls.uri.setValue(data.secret.uri)"
        *ngIf="createSecretForm.controls.uri.value !== data.secret.uri"
        [disabled]="loading"
        mat-icon-button
        matSuffix
        matTooltip="Undo changes"
      >
        <mat-icon>undo</mat-icon>
      </button>
      <mat-icon matPrefix>link</mat-icon>
      <mat-error>{{ getFirstError(createSecretForm.controls.uri) }}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Username/Email</mat-label>
      <input formControlName="username" matInput />
      <button
        (click)="
          createSecretForm.controls.username.setValue(data.secret.username)
        "
        *ngIf="
          createSecretForm.controls.username.value !== data.secret.username
        "
        [disabled]="loading"
        mat-icon-button
        matSuffix
        matTooltip="Undo changes"
      >
        <mat-icon>undo</mat-icon>
      </button>
      <mat-icon matPrefix>person</mat-icon>
      <mat-error>{{
        getFirstError(createSecretForm.controls.username)
        }}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input formControlName="password" matInput />
      <mat-icon matPrefix>password</mat-icon>
      <button
        [disabled]="loading"
        matTooltip="Generate a random password"
        matSuffix
        mat-icon-button
        (click)="genPass()"
      >
        <mat-icon>casino</mat-icon>
      </button>
      <button
        (click)="
          createSecretForm.controls.password.setValue(data.secret.password)
        "
        *ngIf="
          createSecretForm.controls.password.value !== data.secret.password
        "
        [disabled]="loading"
        mat-icon-button
        matSuffix
        matTooltip="Undo changes"
      >
        <mat-icon>undo</mat-icon>
      </button>
      <mat-error>{{
        getFirstError(createSecretForm.controls.password)
        }}</mat-error>
    </mat-form-field>
    <mat-chip-listbox *ngIf="!isMobile">
      <mat-chip style="background-color: #00000020" disableRipple>
        Unchanged
      </mat-chip>
      <mat-chip disableRipple style="background-color: #ffff0020">
        Changed
      </mat-chip>
      <mat-chip disableRipple style="background-color: #00800060">
        Will Be Added On Save
      </mat-chip>
      <mat-chip disableRipple style="background-color: #ff000020">
        Will Be Removed On Save
      </mat-chip>
    </mat-chip-listbox>
    <i *ngIf="isMobile && formGroups.length > 0">
      You have {{ formGroups.length }}
      {{ formGroups.length === 1 ? "Metadatum" : "Metadata" }}
      {{ formGroups.length === 1 ? "entry" : "entries" }}. Metadata editing is
      not supported on mobile devices yet.
    </i>
    <ng-scrollbar
      *ngIf="!isMobile"
      [style]="{ height: formGroups.length > 0 ? '300px' : '0px' }"
    >
      <mat-accordion>
        <mat-expansion-panel
          [disabled]="loading"
          #panel
          *ngFor="let fg of formGroups; index as i"
          hideToggle
        >
          <mat-expansion-panel-header
            [ngStyle]="{
              backgroundColor: fg.addedNew
                ? '#00800060'
                : fg.removed
                ? '#ff000020'
                : mdChanged(fg, data.secret.metadata[i])
                ? '#ffff0020'
                : ''
            }"
          >
            <mat-panel-title>
              Metadatum
              <mat-icon
                *ngIf="fg.invalid"
                matTooltip="Some fields are invalid"
                style="margin-left: 0.1em; color: darkorange">report
              </mat-icon>
            </mat-panel-title>
            <mat-panel-description>
              Click to {{ panel.expanded ? "collapse" : "expand" }}
            </mat-panel-description>
            <button
              (click)="
                $event.stopPropagation(); fg.reset(data.secret.metadata[i])
              "
              *ngIf="
                !fg.addedNew &&
                !fg.removed &&
                mdChanged(fg, data.secret.metadata[i])
              "
              [disabled]="loading"
              mat-icon-button
              matSuffix
              matTooltip="Undo changes"
            >
              <mat-icon>undo</mat-icon>
            </button>
            <button
              (click)="removeMetadatum($event, i)"
              [disabled]="loading"
              mat-icon-button
              [matTooltip]="fg.removed ? 'Restore' : 'Remove Metadatum'"
              type="button"
            >
              <mat-icon [color]="fg.removed ? 'accent' : 'warn'">{{
                fg.removed ? "restore_from_trash" : "delete"
                }}</mat-icon>
            </button>
          </mat-expansion-panel-header>
          <form [formGroup]="fg">
            <span>
              <mat-form-field>
                <mat-label>Name</mat-label>
                <input required formControlName="key" matInput />
                <mat-error>{{ getFirstError(fg.controls["key"]) }}</mat-error>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Type</mat-label>
                <mat-select required formControlName="type">
                  <mat-option [value]="0">Plain Text</mat-option>
                  <mat-option [value]="1">MFA</mat-option>
                  <mat-option
                    matTooltip="Value is stored plain text, but blurred"
                    [value]="2"
                  >
                    Confidential
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </span>
            <mat-form-field>
              <mat-label>Value</mat-label>
              <textarea
                cdkTextareaAutosize
                required
                formControlName="value"
                matInput
              ></textarea>
              <mat-error>{{ getFirstError(fg.controls["value"]) }}</mat-error>
            </mat-form-field>
          </form>
        </mat-expansion-panel>
      </mat-accordion>
    </ng-scrollbar>
    <button
      *ngIf="!isMobile"
      [disabled]="loading || formGroups.length > 4"
      (click)="addMetadatumForm()"
      type="button"
      mat-button
    >
      <mat-icon>add</mat-icon>
      {{ formGroups.length < 5 ? "Add Metadatum" : "Cannot add more than 5" }}
    </button>
  </form>
  <mat-card-actions>
    <button
      mat-button
      type="button"
      [disabled]="loading || (invalid$ | async)"
      (click)="editSecret()"
      color="accent"
    >
      <mat-icon>save</mat-icon>
      Save
    </button>
    <span class="spacer"></span>
    <button
      [disabled]="loading"
      [mat-dialog-close]="false"
      mat-stroked-button
      color="warn"
    >
      <mat-icon>cancel</mat-icon>
      Cancel
    </button>
  </mat-card-actions>
</mat-card>
