<mat-progress-bar *ngIf="loading" mode="indeterminate" />
<mat-card>
  <mat-card-subtitle>{{ data.display_name }}</mat-card-subtitle>
  <mat-card-title>Create a new Secret</mat-card-title>
  <form [formGroup]="createSecretForm">
    <mat-form-field>
      <mat-label>Display Name</mat-label>
      <input formControlName="display_name" matInput required />
      <mat-error>{{
        getFirstError(createSecretForm.controls.display_name)
        }}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>URI</mat-label>
      <input formControlName="uri" matInput />
      <mat-icon matPrefix>link</mat-icon>
      <mat-error>{{ getFirstError(createSecretForm.controls.uri) }}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Username/Email</mat-label>
      <input formControlName="username" matInput />
      <mat-icon matPrefix>person</mat-icon>
      <mat-error>{{
        getFirstError(createSecretForm.controls.username)
        }}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input formControlName="password" matInput />
      <mat-icon matPrefix>password</mat-icon>
      <button
        [disabled]="loading"
        matTooltip="Generate a random password"
        matSuffix
        mat-icon-button
        (click)="genPass()"
      >
        <mat-icon>casino</mat-icon>
      </button>
      <mat-error>{{
        getFirstError(createSecretForm.controls.password)
        }}</mat-error>
    </mat-form-field>
    <ng-scrollbar [style]="{ height: formGroups.length > 0 ? '300px' : '0px' }">
      <mat-accordion>
        <mat-expansion-panel
          expanded
          [disabled]="loading"
          #panel
          *ngFor="let fg of formGroups; index as i"
          hideToggle
        >
          <mat-expansion-panel-header>
            <mat-panel-title>Metadatum</mat-panel-title>
            <mat-panel-description>
              Click to {{ panel.expanded ? "collapse" : "expand" }}
            </mat-panel-description>
            <button
              matTooltip="Remove Metadatum"
              type="button"
              [disabled]="loading"
              (click)="removeMetadatum($event, i)"
              mat-icon-button
            >
              <mat-icon color="warn">delete</mat-icon>
            </button>
          </mat-expansion-panel-header>
          <form [formGroup]="fg">
            <span>
              <mat-form-field>
                <mat-label>Name</mat-label>
                <input
                  required
                  formControlName="key"
                  matInput
                />
                <mat-error>{{ getFirstError(fg.controls["key"]) }}</mat-error>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Type</mat-label>
                <mat-select
                  required
                  formControlName="type"
                >
                  <mat-option [value]="0">Plain Text</mat-option>
                  <mat-option [value]="1">MFA</mat-option>
                  <mat-option
                    matTooltip="Value is stored plain text, but blurred"
                    [value]="2"
                  >
                    Confidential
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </span>
            <mat-form-field>
              <mat-label>Value</mat-label>
              <textarea
                cdkTextareaAutosize
                required
                formControlName="value"
                matInput
              ></textarea>
              <mat-error>{{ getFirstError(fg.controls["value"]) }}</mat-error>
            </mat-form-field>
          </form>
        </mat-expansion-panel>
      </mat-accordion>
    </ng-scrollbar>
    <button
      [disabled]="loading || formGroups.length > 4"
      (click)="addMetadatumForm()"
      type="button"
      mat-button
    >
      <mat-icon>add</mat-icon>
      {{ formGroups.length < 5 ? "Add Metadatum" : "Cannot add more than 5" }}
    </button>
  </form>
  <mat-card-actions>
    <button
      mat-button
      [disabled]="loading || (invalid$ | async) || null == (invalid$ | async)"
      (click)="createSecret()"
      color="accent"
    >
      <mat-icon>save</mat-icon>
      Create
    </button>
    <span class="spacer"></span>
    <button
      [disabled]="loading"
      [mat-dialog-close]="false"
      mat-stroked-button
      color="warn"
    >
      <mat-icon>cancel</mat-icon>
      Cancel
    </button>
  </mat-card-actions>
</mat-card>
