:host {
  form {
    padding: 1em;
    display: flex;
    gap: 1em;

    button.create-secret {
      padding: 1.94em;
    }
  }

  main {
    padding: 1em;
    display: grid;
    gap: 1rem;

    @media (min-width: 1000px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 1350px) {
      grid-template-columns: repeat(3, 1fr);
    }

    mat-card {
      align-self: start;
    }

    .mat-expansion-panel-header-description {
      justify-content: space-between;
      align-items: center;
    }

    mat-card-content {
      display: flex;
      flex-direction: column;

      mat-accordion {
        border-radius: 5px;
        padding: 0.2em;
        background-color: #00000020;

        div {
          display: flex;
        }

        mat-expansion-panel {
          section {
            border-radius: 5px;
            margin-bottom: 0.5em;
            background-color: #00000020;

            .key {
              padding: 1em;
              background-color: #00000020;
            }

            .value {
              width: 100%;
              display: flex;
              padding-left: 1em;
              align-items: center;
              justify-content: space-between;
              //background-color: red;
            }
          }
        }
      }
    }
  }
}

.pulsate {
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    color: indianred;
  }
  50% {
    opacity: 0;
  }
  100% {
    color: indianred;
  }
}
