<ng-scrollbar style="height: 93vh">
  <mat-progress-bar *ngIf="loading" mode="indeterminate" />
  <form>
    <button
      class="create-secret"
      [disabled]="loading"
      type="button"
      mat-stroked-button
      color="accent"
      (click)="createSecret()"
    >
      Create Secret
      <mat-icon>add</mat-icon>
    </button>
    <mat-form-field appearance="outline">
      <input [formControl]="searchBar" matInput placeholder="Search Secrets" />
      <button
        [disabled]="loading"
        matTooltip="Clear"
        *ngIf="searchBar.value"
        matSuffix
        mat-icon-button
        (click)="searchBar.setValue('')"
      >
        <mat-icon>close</mat-icon>
      </button>
      <mat-icon *ngIf="!searchBar.value" matSuffix>search</mat-icon>
    </mat-form-field>
  </form>
  <main>
    <i *ngIf="!loading && vault?.secrets?.length === 0">
      {{
      searchBar.value
        ? "No matches. Crickets chirping..."
        : "You have no Secrets within this Vault."
      }}
    </i>
    <mat-card *ngFor="let secret of vault?.secrets">
      <mat-card-header>
        <mat-card-title>{{ secret.display_name }}</mat-card-title>
        <span class="spacer"></span>
        <img
          mat-card-avatar
          width="32"
          height="32"
          *ngIf="secret?.uri"
          (error)="handleMissingImage($event)"
          [src]="secret.uri + '/favicon.ico'"
          alt="Secret favicon"
        />
      </mat-card-header>
      <mat-card-content>
        <mat-form-field *ngIf="secret?.uri" appearance="outline">
          <input disabled matInput [value]="secret.uri" />
          <mat-icon matPrefix>link</mat-icon>
          <a
            mat-icon-button
            matSuffix
            target="_blank"
            [href]="secret.uri"
            matTooltip="Open in new tab"
          >
            <mat-icon>open_in_new</mat-icon>
          </a>
          <button
            (click)="copied('URI')"
            [cdkCopyToClipboard]="secret.uri"
            mat-icon-button
            matSuffix
          >
            <mat-icon>content_copy</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field *ngIf="secret?.username" appearance="outline">
          <input disabled matInput [value]="secret.username" />
          <mat-icon matPrefix>account_circle</mat-icon>
          <button
            mat-icon-button
            matSuffix
            (click)="copied('Username')"
            [cdkCopyToClipboard]="secret.username"
          >
            <mat-icon>content_copy</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field *ngIf="secret?.password" appearance="outline">
          <input
            #pass
            disabled
            matInput
            type="password"
            value="there is no spoon"
          />
          <mat-icon matPrefix>password</mat-icon>
          <div matSuffix>
            <button
              (click)="
                pass.type = pass.type === 'text' ? 'password' : 'text';
                pass.value =
                  pass.type === 'text' ? secret.password : 'there is no spoon'
              "
              [cdkCopyToClipboard]="secret.password"
              mat-icon-button
            >
              <mat-icon>{{
                pass.type === "text" ? "visibility" : "visibility_off"
                }}</mat-icon>
            </button>
            <button mat-icon-button (click)="copied('Password')">
              <mat-icon>content_copy</mat-icon>
            </button>
          </div>
        </mat-form-field>
        <mat-accordion
          *ngIf="(secret.metadata || []).length"
        >
          <mat-expansion-panel #panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{ secret.metadata.length }} Metadata
              </mat-panel-title>
              <mat-panel-description>
                {{ panel.expanded ? "Collapse" : "Expand" }}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <section *ngFor="let md of secret.metadata">
              <div class="key">
                {{ md.key }}
                <span class="spacer"></span>
                <mat-icon
                  [matTooltip]="
                    md.type === 0
                      ? 'Plain Text'
                      : md.type === 1
                      ? '2FA code'
                      : 'Confidential'
                  "
                  [svgIcon]="md.type === 1 ? 'twofa' : ''"
                >{{
                  md.type === 0
                    ? "sticky_note_2"
                    : md.type === 1
                      ? ""
                      : "lock"
                  }}</mat-icon
                >
              </div>
              <mat-divider></mat-divider>
              <div [ngSwitch]="md.type">
                <div class="value" *ngSwitchCase="0">
                  <span>{{ md.value }}</span>
                  <button
                    style="scale: 0.8"
                    mat-icon-button
                    [cdkCopyToClipboard]="md.value"
                    (click)="copied('Value', $event)"
                  >
                    <mat-icon>content_copy</mat-icon>
                  </button>
                </div>
                <div
                  class="value"
                  *ngSwitchCase="1"
                  [ngClass]="{ pulsate: (time / 30) * 100 < 31 }"
                >
                  <span>{{ totpService.generateCode(md.value) }}</span>
                  <mat-progress-spinner
                    [color]="(time / 30) * 100 > 30 ? 'accent' : 'warn'"
                    [diameter]="20"
                    [strokeWidth]="2"
                    [value]="(time / 30) * 100"
                    mode="determinate"
                    style="margin-left: 1em"
                  ></mat-progress-spinner>
                  <span class="spacer"></span>
                  <button
                    style="scale: 0.8"
                    mat-icon-button
                    [cdkCopyToClipboard]="totpService.generateCode(md.value)"
                    (click)="copied('2FA code', $event)"
                  >
                    <mat-icon>content_copy</mat-icon>
                  </button>
                </div>
                <span class="value" *ngSwitchDefault>
                  <span style="user-select: none; filter: blur(2px)">
                    {{ md.value }}
                  </span>
                  <button
                    style="scale: 0.8"
                    mat-icon-button
                    [cdkCopyToClipboard]="md.value"
                    (click)="copied('Confidential', $event)"
                  >
                    <mat-icon>content_copy</mat-icon>
                  </button>
                </span>
              </div>
            </section>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-content>
      <span class="spacer"></span>
      <mat-card-actions>
        <button (click)="editSecret(secret)" [disabled]="loading" mat-button>
          <mat-icon>edit</mat-icon>
          Edit
        </button>
        <button
          (click)="deleteSecret(secret)"
          [disabled]="loading"
          mat-button
          color="warn"
        >
          <mat-icon>delete</mat-icon>
          Delete
        </button>
      </mat-card-actions>
    </mat-card>
  </main>
</ng-scrollbar>
